<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>恒康移动货品管理</title>
		<!-- Le styles -->
		<link href="css/bootstrap-combined.min.css" rel="stylesheet">
		<link href="css/layoutit.css" rel="stylesheet">
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
	<![endif]-->

		<!-- Fav and touch icons -->
		<link rel="shortcut icon" href="img/favicon.png">

		<script type="text/javascript" src="js/jquery-2.0.0.min.js"></script>
		<!--[if lt IE 9]>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<![endif]-->
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/jquery-ui.js"></script>
		<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
		<script type="text/javascript" src="js/jquery.htmlClean.js"></script>
		<script type="text/javascript" src="ckeditor/ckeditor.js"></script>
		<script type="text/javascript" src="ckeditor/config.js"></script>
		<script type="text/javascript" src="js/scripts.js"></script>
		<script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
		<script src="js/vue.min.js"></script>
	</head>

	<body>
		<div class="page-header">
			<h1>恒康移动货品管理</h1>
		</div>
		<span class="label badge-success">1.64</span>
		<div >
			<form class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="inputEmail">服务地址</label>
					<div class="controls">
						<input id="ip" type="text" v-model="ip" placeholder="编辑我……" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputEmail">端口号</label>
					<div class="controls">
						<input id="port" type="text" v-model="port" placeholder="编辑我……" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputEmail">用户代码</label>
					<div class="controls">
						<input id="username" type="text" v-model="username" placeholder="编辑我……" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputPassword">密码</label>
					<div class="controls">
						<input id="pwd" type="password" v-model="pwd" />
					</div>
				</div>
				<div class="control-group" id="example1">
					<div class="controls">
						<label class="checkbox"><input type="checkbox" /> Remember me</label>
						<button type="button" class="btn" v-on:click="onclick">登陆</button>
						{{ip}}

					</div>
				</div>

			</form>
		</div>

		<div class="alert alert-success">
			<!--<button type="button" class="close" data-dismiss="alert">×</button>-->
			<h4>
							
					广州恒康信息科技有限公司版权所有
				</h4> HengKangIT.Com All Right Reserved ©2018
		</div>

		<script src="js/vue.js"></script>
	</body>

</html>